table {
  border-collapse: collapse;
 
  width: 150%;
  border: 1px solid #ddd;
    height: 700px !important;
    overflow: auto;
}
 
 
th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}